/*
##################
MAIN
##################
*/

/*
##################
CONSENT-BAR
##################
*/

.jentis-consent-main .jentis-consent-bar
{
    font-family: Verdana;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color:#535253;
    padding:20px;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: #efefef;
    border-top:1px solid #ccc;

    justify-content:space-between;
	z-index:9997;

	display:none;
}


.jentis-consent-main .jentis-consent-consent-text
{
    flex:8;
    min-width:300px;
    padding-right:20px;
	margin-bottom:20px;

}

.jentis-consent-main .jentis-consent-consent-text .jentis-consent-consent-text-inner h4
{
	font-size: 18px;
	margin-top:0px;
}

.jentis-consent-main .jentis-consent-consent-text .jentis-consent-consent-links
{
	margin-top:10px;
}

.jentis-consent-main .jentis-consent-consent-text .jentis-consent-consent-links a
{
	padding-right:10px;
}


.jentis-consent-main .jentis-consent-closebutton-button
{
    background-color:transparent;
    position: absolute;
    top: -3px;
    right: 9px;
    width: 30px;
    padding: 0px;
    height: 30px;
    text-align: center;
    color:#000;
    border: 0px;
    cursor: pointer;
}

.jentis-consent-main .jentis-consent-button_wrapper
{
	width:300px;
	margin-left: auto;
}

.jentis-consent-main .jentis-consent-button_wrapper div
{
    flex:2;
    max-width:300px;
	cursor: pointer;
    padding: 10px;
    border: 0px;
    margin-top: 20px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    border-radius: 20px;
    letter-spacing: .84px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    
    align-items: center;
    justify-content: center;
    font-family: Barlow, sans-serif;
    font-weight: 700;	
	width:100%;
	margin-left:auto;
	box-sizing:border-box;

}

.jentis-consent-main .jentis-consent-button_wrapper div.button-prim
{
    background-color: #009f98;
	text-transform: uppercase;
    color: #fff;
    height: 50px;
    font-weight: 700;	
	margin-top:0px;
	padding-top:14px;
}

.jentis-consent-main .jentis-consent-button_wrapper div.button-sec
{
    background-color: #ccc;
    color: #333;
    height: 40px;
    font-weight: 500;	
}











/*
##################
CONSENT-SETTING-PANEL
##################
*/


.jentis-consent-main  .jentis-consent-modal
{
    height: 550px;
    position: absolute;
    background-color:#efefef;
    border:1px solid #ccc;
    z-index: 9999;

    font-family: Verdana;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color:#535253;

    padding:20px;

    box-sizing: border-box;
	display:none;
}

@media (min-width: 767px)
{
    .jentis-consent-main  .jentis-consent-modal
    {
        width: 700px;
        left: 50%;
        transform: translate(-50%, 0);
        top:100px;
    }
}
@media (max-width: 766px)
{
    .jentis-consent-main  .jentis-consent-modal
    {
        left:0px;
        right:0px;
        bottom:0px;
    }
}


.jentis-consent-main .jentis-consent-modal .jentis-consent-closebutton
{
    position: absolute;
    right:10px;
    top:10px;
    cursor: pointer;
	z-index:9999;
}

.jentis-consent-main .jentis-consent-modal .jentis-consent-purpose_wrapper
{
	overflow-y:scroll;
	margin:0px;
	padding:20px;
}

.jentis-consent-main .jentis-consent-modal .jentis-consent-purpose_wrapper > li
{
	font-size:18px;
	border-bottom: 1px dashed #e0e0e0;
	font-weight: 700;
	margin-bottom:8px;
	
}

.jentis-consent-main .jentis-consent-modal .jentis-consent-purpose_wrapper > li label
{
	cursor: pointer;
}

.jentis-consent-main .jentis-consent-modal .jentis-consent-purpose_wrapper > li > ul
{
	margin:0px;
	padding:0px;
	margin-top:10px;
}

.jentis-consent-main .jentis-consent-modal .jentis-consent-purpose_wrapper > li li
{
	font-size:12px;
	font-weight: 500;
	margin-bottom:8px;
}


.jentis-consent-main .jentis-consent-modal .jentis-consent-purpose_wrapper, .jentis-consent-main .jentis-consent-modal .jentis-consent-vendor_info
{
    background-color: #fff;
    height: 300px;
    box-sizing: border-box;
    margin-bottom: 20px;
	overflow-y:scroll
}

.jentis-consent-main .jentis-consent-modal .jentis-consent-vendor_info
{
	display:none;
	position:relative;
}

.jentis-consent-main .jentis-consent-modal .jentis-consent-vendor_info .jentis-consent-vendor_info_ul
{
    
	padding: 20px;
	margin:0px;
	width:100%;
	height:240px;
	
	box-sizing:border-box;
	
	list-style-type:none;
}



.jentis-consent-checkbox-wrapper
{
	list-style-type:none;
	
	
}

.jentis-consent-main .jentis-consent-modal .jentis-consent-vendor_info .jentis-consent-vendor-info-button-back
{
    border: 0px;
    border-radius: 10px;
    height: 19px;
	cursor:pointer;
	width:150px;
	box-sizing: border-box;
	
    padding: 2px;
    font-size: 11px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: .84px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Barlow, sans-serif;
    font-weight: 500;	
	
	margin-top:20px;
	margin-left:20px;
	background-color:#000;
	color:#fff;
	
}

.jentis-consent-main .jentis-consent-modal .jentis-consent-vendor_info li
{
	display:none;
	list-style-type:none;
}


.jentis-consent-main .jentis-consent-modal .jentis-consent-contact_wrapper
{
	width: 50%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}

.jentis-consent-main .jentis-consent-modal .jentis-consent-button_wrapper
{
    width: 50%;
    box-sizing: border-box;
    float: left;
}

.jentis-consent-main .jentis-consent-modal .jentis-consent-button_close_wrapper
{
	position:relative;
}

.jentis-consent-main .jentis-consent-modal .jentis-consent-button_close_wrapper .jentis-consent-button_close
{
	position: absolute;
    right: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding-top: 2px;
    box-sizing: border-box;
    top: -38px;
	cursor: pointer;
	z-index:9999;
}

.jentis-consent-main .jentis-consent-modal .jentis-consent-purpose-vendors-checkbox-wrapper
{
	margin-left:20px;
}

.jentis-consent-purpose-vendors-checkbox-wrapper
{
	display:none;
}

.jentis-consent-vendor-info-left
{
	float:left;
	box-sizing: border-box;
	width:50%;
	padding-right:20px;
}


.jentis-consent-vendor-info-right
{
	width: 50%;
	padding-left:20px;
	float:left;
	box-sizing: border-box;
	border-left:1px dotted #e0e0e0;
}


@media (max-width: 766px)
{
	.jentis-consent-vendor-info-left
	{
		float:none !important;
		width:100% !important;
		padding-right:0px !important;
		margin-bottom:20px;
	}


	.jentis-consent-vendor-info-right
	{
		width: 100% !important;
		padding-left:0px !important;
		float:none !important;
		border-left:0px !important;
	}
	
}

.jentis-consent-vendor-info-name
{
	font-size:13px;
	font-weight: 700;
	margin-bottom:8px;
	
	
}

.jentis-consent-vendor-info-street
{
	
}

.jentis-consent-vendor-info-zip
{
	
}

.jentis-consent-vendor-info-country
{
	
}

.jentis-consent-vendor-info-purpose
{
	margin-top:8px;
	font-weight:500;
}

.jentis-consent-vendor-info-justification
{
	font-weight:500;
	
}

.jentis-consent-vendor-info-description
{
	padding-bottom:20px;
}
